<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<!--引入默认的一些设置-->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<!--web信息-->
	<logger name="org.springframework.web" level="info"/>

	<!--写入日志到控制台的appender,用默认的,但是要去掉charset,否则windows下tomcat下乱码-->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
	<property name="LOG_HOME" value="/Users/user/logs/data/weblog/im"/>



	<appender name="info_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/web_info.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/rolling/web_info.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxHistory>90</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>256MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>


	<appender name="warn_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/web_warn.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/rolling/web_warn_.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxHistory>90</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>256MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>


	<appender name="error_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/web_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/rolling/web_error_.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxHistory>90</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>256MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n</pattern>
		</encoder>
	</appender>




	<!--异步到文件-->
	<appender name="info_async_file" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>12</discardingThreshold>
		<queueSize>512</queueSize>
		<appender-ref ref="info_file"/>
	</appender>



	<appender name ="warn_async_file" class= "ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold >12</discardingThreshold>
		<queueSize>512</queueSize>
		<includeCallerData>false</includeCallerData>
		<appender-ref ref ="warn_file"/>
	</appender>

	<appender name ="error_async_file" class= "ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold >12</discardingThreshold>
		<queueSize>512</queueSize>
		<includeCallerData>false</includeCallerData>
		<appender-ref ref ="error_file"/>
	</appender>


	<!--生产环境:打印控制台和输出到文件-->
	<springProfile name="prod">
		<root level="info">
			<!--<appender-ref ref="CONSOLE"/>-->
			<appender-ref ref="info_async_file"/>
			<appender-ref ref="warn_async_file"/>
			<appender-ref ref="error_async_file"/>
		</root>
	</springProfile>

	<!--开发环境:打印控制台-->
	<springProfile name="dev">
		<logger name="com.erban" level="DEBUG"/>
		<root level="info">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="info_async_file"/>
			<appender-ref ref="warn_async_file"/>
			<appender-ref ref="error_async_file"/>
		</root>
	</springProfile>

</configuration>